
<!-- right aligned items -->
  <div ng-init="newUser()" id="everything">
    <div id="walkingZombies" class="">

      <img id="zombieImg" src="../images/walkingZombies.jpg"/>
      <h2 id="globalStashTitle">Global Stash</h2>
      <div id="loginButtons" class="">
        <button class="" ng-hide="showUser" ng-click='logIn()'><img src="../images/btn_google_signin_light_normal_web.png"></button>
        <button class="" ng-show="showUser" ng-click='logOut()'><img src="../images/googleSignOut.png"></button>

    <!-- auth0 login -->
        <div id="greeting" ng-show='showUser'>
          <p id="greetingWords">
            Good {{timeOfDay}}, {{ userProfile.given_name }}... <br>I see you're still <u>ALIVE</u>!
          </p>
        <!-- <img src="{{ userProfile.picture }}" /> -->
        </div>
      </div>

      <div id='globalStash' ng-init="getItems()">
        <div ng-repeat="x in allItemsInStash">

          <!-- <table ng-repeat="x in allItemsInStash" style="width:100%">
            <tr>
              <td><img id="stashImages" ng-src="{{x.imgur_url}}"/></td>
              <td><h4>Weapon Name: {{x.item_name}}</h4></td>
              <td>Weapon Description: {{x.description}}</td>
              <td>Damage Rating: {{x.rating_damage}}</td>
              <td>Added by Survivor: {{x.user_nickname}}</td>
            </tr>
          </table> -->
          <br><br><br><br>
          <img id="stashImages" ng-src="{{x.imgur_url}}"/>
          <h4>Weapon Name: {{x.item_name}}</h4>
          <h5>Weapon Description: {{x.description}}</h5>
          <h5>Damage Rating: {{x.rating_damage}}</h5>
          <h6>Added by Survivor: {{x.user_nickname}}</h6>

        <hr>

        </div> <!--end of repeat-->
      </div> <!--end of ng-init-->

    </div>
    <!-- end of right aligned items -->

    <!-- this is the navbar -->
    <div id="sidebarNav" class="container">
      <div class="row">
        <h4 id="sidebarTitle">STAY ALIVE</h4>
        <ul id="mainList">
          <li class="list" class="col-md-1" ng-hide='showUser'><a href="#home">LOG IN</a></li>
          <li class="list" class="col-md-1" ng-show='showUser'><a href="#globalStash">Global Stash</a></li>
          <li class="list" class="col-md-1" ng-show='showUser'><a href="#addItem">Add Item to Stash</a></li>
          <li class="list" class="col-md-1" ng-show='showUser'><a href="#homeli">Home Logged In</a></li>
        </ul>
      </div>
    </div>
  </div>
